h1{
    text-align: center;
    font-family:Georgia;
    margin-bottom: 12px;
}

h3{
    font-style: italic;
    margin-bottom: 15px;
    margin-top: 15px;
}
h4{
    margin-bottom: 15px;
    margin-top: 15px;
}

ul{
    margin-bottom: 10px;
    margin-top: 10px;
}

#role{
    text-align:center ;
    font-style: italic;
    font-family: Georgia;
    font-weight: lighter;
    font-size: medium;
}

body{
    margin-top: 15px;
    margin-left: 50px;
    margin-right: 50px;
}